
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Courier+Prime&display=swap');

body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Courier Prime', monospace;
}

pre, code {
    font-family: 'Courier Prime', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Special Elite', cursive;
    color: #a9a9a9; /* Dark Gray for a more subtle look */
}

a {
    color: #8a2be2; /* BlueViolet */
}

a:hover {
    color: #9932cc; /* DarkOrchid */
}

.sr-theme {
    background-color: #111111;
    color: #ffffff;
}

.sr-theme-light {
    background-color: #2a2a2a;
    color: #ffffff;
}

.sr-theme-dark {
    background-color: #000000;
    color: #ffffff;
}

.sr-theme-darker {
    background-color: #301934; /* Dark Purple */
    color: #ffffff;
}

.sr-paginator {
    display: inline-block;
}

.sr-paginator a,
.sr-paginator span {
    border-radius: 25px;
    font-size: 0.8em;
}

/* Oval-shaped header, footer, and navbar */
nav.sr-theme-darker,
footer.sr-theme-light,
sr-article-header {
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav.sr-theme-darker,
footer.sr-theme-light
{
    margin: 16px;
}
