[submodule "replit/WhatsTheScoop"]
	path = replit/WhatsTheScoop
	url = git@github.com:SarahRogue81/WhatsTheScoop.git
[submodule "replit/WhatsTheScoop.wiki"]
	path = replit/WhatsTheScoop.wiki
	url = git@github.com:SarahRogue81/WhatsTheScoop.wiki.git
[submodule "replit/asciidoc_reader"]
	path = replit/asciidoc_reader
	url = git@github.com:SarahRogue81/asciidoc_reader.git
