[submodule "replit/W3.CSS-Template4Pelican"]
	path = replit/W3.CSS-Template4Pelican
	url = git@github.com:SarahRogue81/W3.CSS-Template4Pelican.git
[submodule "replit/sitemap"]
	path = replit/sitemap
	url = git@github.com:pelican-plugins/sitemap.git
[submodule "replit/asciidoc_reader"]
	path = replit/asciidoc_reader
	url = git@github.com:SarahRogue81/asciidoc_reader.git
[submodule "replit/W3.CSS-Template4Pelican.wiki"]
	path = replit/W3.CSS-Template4Pelican.wiki
	url = git@github.com:SarahRogue81/W3.CSS-Template4Pelican.wiki.git
