modules = ["python-3.11", "bash", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["bash", "gitFull", "glibcLocales", "pandoc", "openssh", "ruby_3_4", "vim-full"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Pelican Site Server"

[[workflows.workflow]]
name = "Pelican Site Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ".pythonlibs/bin/invoke livereload"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34693
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["python", "-m", "http.server", "5000", "-d", "docs"]
build = ["pelican", "content", "-s", "publishconf.py"]
